<%- include('../partials/head') %>
<title></title>
</head>
<style>
body{
width:100%;
height:100vh;
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
flex-direction:column;
color:white;
background-color:#E4E9F7;
}
a{color:red;}
.cardss{
color:black;
width:min(100% - 24vw);
height:calc(100vh - 24vh);
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
flex-direction:column;
background-color:#fff;
}
</style>
<div class="cardss">
<h3>Giriş Başarılı!</h3>
<a href="/">Anasayfaya geri dön</a>
</div>
