  
<head>
<meta charset="utf-8" />
<link rel="icon" href="https://glitch.com/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/style.css" />
<link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet"> 
<script src="script.js"></script>
<title><%= proje.title%></title>
</head>
<div id="navbar" style="width:100%" class="fixed">
<div class="topnav" id="myTopnav">
  <a class="logo" id="navbar-text" href="/">SMTALBPG</a>
  <a href="/" class="active">Anasayfa</a>
  <a onclick="projects()">Projeler</a>
  <a onclick="group()">Ekip</a>
  <a onclick="about()">Hakkımızda</a>
  <a onclick="kurumsal()">Kurumsal</a>
  <a href="javascript:void(0);" class="icon" onclick="navOpen()">
  <i class="fa fa-bars"></i>
  </a>
</div>
</div><br><br><br>
<div class="container">
  <h3><%= proje.title%></h3>  
<div class="w-100" style="background-color:#eeeeee;padding:2vw;border-radius:5px;">
<%= proje.short %>
</div>
<br><br>
<div class="w-100" style="background-color:#eeeeee;padding:2vw;border-radius:5px;">
<%= proje.long %><br>
</div>
</div>
</div>
