<div class="container">
<h3>Ekip</h3>
  
  <ul id="slider" class="horizonal-slider">
    <div class="item"><div class="head">
    
    </div>
    <div class="content">
    <h3>İSİM</h3>  
    <p>ÜNVAN</p>
    </div>
    <div class="footer">
      <a href="https://github.com/Hasan-Kilici" target="_blank"><i class="icon fab fa-github"></i></a>
      <a href="https://instagram.com/kawethra.official" target="_blank"><i class="icon fab fa-instagram"></i></a>
      <i class="icon fab fa-discord"></i>
    </div>
    </div>
    <div class="item">
  <div class="head">
    
    </div>
    <div class="content">
    <h3>İSİM</h3>  
    <p>ÜNVAN</p>
    </div>
    <div class="footer">
    <a href="https://github.com/Dawnsxgg"><i class="icon fab fa-github"></i></a>
    <i class="icon fab fa-instagram"></i>
    <i class="icon fab fa-discord"></i>  
    </div>
    </div>
    <div class="item"><div class="head">
    
    </div>
    <div class="content">
    <h3>İSİM</h3>  
    <p>ÜNVAN</p>
    </div>
    <div class="footer">
    <a href="https://github.com/YNGROG" target="_blank"> <i class="icon fab fa-github"></i></a>
    <a href="https://www.instagram.com/kralgraveth_1/" target="_blank"><i class="icon fab fa-instagram"></i></a>
    <i class="icon fab fa-discord"></i>  
    </div>
    </div>
    <div class="item"><div class="head">
    
    </div>
    <div class="content">
    <h3>İSİM</h3>  
    <p>ÜNVAN</p>
    </div>
    <div class="footer">
    <i class="icon fab fa-github"></i>
    <i class="icon fab fa-instagram"></i>
    <i class="icon fab fa-discord"></i> 
    </div>
    </div>
    <div class="item"><div class="head">
    
    </div>
    <div class="content">
    <h3>İSİM</h3>  
    <p>ÜNVAN</p>
    </div>
    <div class="footer">
    <i class="icon fab fa-github"></i>
    <i class="icon fab fa-instagram"></i>
    <i class="icon fab fa-discord"></i>  
    </div>
    </div>
    <div class="item">
    <div class="head">
    
    </div>
    <div class="content">
    <h3>İSİM</h3>  
    <p>ÜNVAN</p>
    </div>
    <div class="footer">
    <i class="icon fab fa-github"></i>
    <i class="icon fab fa-instagram"></i>
    <i class="icon fab fa-discord"></i>  
    </div>
    </div>
    <div class="item">
    <div class="head">
    
    </div>
    <div class="content">
    <h3>İSİM</h3>  
    <p>ÜNVAN</p>
    </div>
    <div class="footer">
    <i class="icon fab fa-github"></i>
    <i class="icon fab fa-instagram"></i>
    <i class="icon fab fa-discord"></i>  
    </div>
    </div>
  </ul>
</div>
