<br><br><div class="container-fluid bg-main jubo">
<div class="container">
<div class="row">
<span class="c-light groupInfo">
<h3>Merhaba, biz <span class="groupName"><%- groupName -%></span> ve biz <span class="skills">
Oyun geliştiriciliği, Web geliştiriciliği, Grafik tasarım</span><span> ve</span> <span class="skills">Modelleme</span> ile uğraşıyoruz
<span class="c-forth" id="textAn">işte projelerimiz</span></h3>
<br>
</span>
</div>
</div>
</div>
