<div class="container">
<h3>Kurumsal</h3>  
<div class="row-center gap-10">
<div class="col-sm-4 bg-main card">
<b class="counter">1+</b>
<b class="counter-text">Proje</b>
</div>
<div class="col-sm-4 bg-main card">
<b class="counter">1+</b>
<b class="counter-text">Müşteri</b>  
</div>
<div class="col-sm-4 bg-main card">
<b class="counter">1+</b>
<b class="counter-text">Memnun müşteri</b>  
</div>
<div class="col-12">
<div class="row-center gap-10">
<div class="col-sm-4">
<h3>Hakkımızda</h3>
<p>
"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
</p>
</div> 
<div class="col-sm-4">
<h3>Çalışma düzenimiz</h3>
<p>
"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
</p>
</div> 
<div class="col-sm-4">
<h3>Okulumuz</h3> 
<p>
"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
</p>
</div> 
</div>
</div>
</div>
</div>
