<div id="navbar" style="width:100%" class="fixed">
<div class="topnav" id="myTopnav">
  <a class="logo" id="navbar-text" href="/">SMTALBPG</a>
  <a href="/giris"><button class="giris">Giriş yap</button></a>
  <a href="/iletisim">İletişim</a>
  <a href="/" class="active">Anasayfa</a>
  <a onclick="projects()">Projeler</a>
  <a onclick="group()">Ekip</a>
  <a onclick="about()">Hakkımızda</a>
  <a onclick="kurumsal()">Kurumsal</a>
  <a href="javascript:void(0);" class="icon" onclick="navOpen()">
  <i class="fa fa-bars"></i>
  </a>
</div>
</div>
