<%- include('../partials/head') %>
<title>SMTALBPG - Giriş yap</title>
</head>
<body style="background:#eee;"><br><br><br><br>
<div style="background:#fff; padding:2vw;" class="container">
<form method="POST" action="/admin-giris">
<input style="padding:5px" class="col-8" type="text" placeholder="Kullanıcı adı" id="username" name="username"><br><br>
<input style="padding:5px" class="col-8" type="text" placeholder="Şifre" id="sifre" name="sifre"><br><br>
<input class="btn bg-main" type="submit">
</form>
</div>
